<h1>Timeline</h1>
<p>The New Instagram Experience.</p>

<% @photos.each do |photo| %>
  <div class="card photo">
    <div class="card-header"><%= photo.username%></div>
    <%= image_tag photo.url, class: "card-img-top", alt: "photo" %>
    <div class="card-block">
      <p class="card-text"><%= photo.caption %></p>
    </div>
  </div>
<% end %>
